.main {
  padding-top: 13rem;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1004px) {
  .main {
    padding-top: 4rem;
  }
}

.itemContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 380px;
  margin: 1rem;
  padding: 1.5rem;
}

.image {
  width: 500px;
  min-width: 300px;
  aspect-ratio: 1 / 1;
  box-shadow: 0 0 10px rgb(41, 41, 41);
  border-radius: 10px;
}

.nftInfo {
  margin: 1em;
  padding: 1rem;
  min-width: 300px;
}

.nftInfo ul {
  list-style: none;
  padding: 0;
}
